.life-in-weeks.main-container {
  height: calc(75 * 20px + 200px);
}
.life-in-weeks-container {
  width: calc(52 * 20px);
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 0 4px 0 0;
    position: relative;

    @for $i from 1 through 10 {
      &:nth-child(#{$i * 5}):after {
        content: "#{$i * 5}";
        display: block;
        position: absolute;
        top: -18px;
        left: -2px;
        @if $i == 1 {
          left: 3px;
        }
      }
    }

    @for $i from 1 through 18 {
      &:nth-child(#{$i * (52 * 5) + 1}):after {
        content: "#{$i * 5}";
        display: block;
        position: absolute;
        left: -24px;
        top: -3px;
      }
    }
  }
}

.invert {
  filter: invert(1);
}
