a {
  text-decoration: underline;
}

h1 {
  margin-bottom: 24px;
}

code {
  color: #586e75;
  background: #eee8d5;
  padding: 4px 0.6em;
  border-radius: 4px;
  font-weight: bolder;
  font-size: 1em;
}

pre {
  background: #eee8d5;
  color: #586e75;
  padding: 0.5em;
}

img {
  max-width: 300px;
  height: auto;

  .article-with-wide-img & {
    max-width: 1000px;
  }
}
